## 10-7 日期特征处理

In [1]:
import pandas as pd

df = pd.read_csv(r"data/Retail_Data_Transactions.csv")
df['date'] = pd.to_datetime(df['trans_date'])
df.head(5)

/tmp/ipykernel_33317/3834643960.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['trans_date'])

  customer_id trans_date  tran_amount       date
0      CS5295  11-Feb-13           35 2013-02-11
1      CS4768  15-Mar-15           39 2015-03-15
2      CS2122  26-Feb-13           52 2013-02-26
3      CS1217  16-Nov-11           99 2011-11-16
4      CS1850  20-Nov-13           78 2013-11-20

In [2]:
import datetime
date = 'date'
df['year'] = df[date].dt.year
df['month'] = df[date].dt.month
df['day'] = df[date].dt.day
df['quarter'] = df[date].dt.quarter
df['week'] = df[date].dt.day_of_week
df['weekday'] = df[date].dt.weekday
df['halfyear'] = df[date].map(lambda d : 'H1' if d.month<=6 else 'H2')
df['dayofyear'] = df[date].dt.day_of_year

today = datetime.date(2015,4,1)

In [3]:
# 按年对消费金额进行分析
amount_byyear = df.groupby('year').agg({'tran_amount':'sum'})
amount_byyear

      tran_amount
year
2011      1340339
2012      2116599
2013      2137368
2014      2094508
2015       435175